<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Waiters Webapp | {{title}}</title>
	<link rel="shortcut icon" href="./assets/icons/waiter.png" type="image/x-icon">

	<link rel="stylesheet" href="/css/normalize.css">
	<link rel="stylesheet" href="/css/style.css">
	<script src="/scripts/message.js" defer></script>
	<script src="/scripts/reset.js" defer></script>
	{{!-- <script src="/scripts/confirm_password.js" defer></script> --}}
</head>

<body>
	<nav class="flex row">
		{{#each nav}}
		<a class="flex justify align stretch" href="{{link}}">{{text}}</a>
		{{/each}}
	</nav>
	{{{body}}}
</body>

</html>