<div class="flex col gap align justify view container">
	<h1>{{title}}</h1>

	<form class="flex col gap align" action="/login" method="post">
		{{#if message.text}}
		<div class="{{message.type}} message">{{message.text}}</div>
		{{/if}}

		<label for="username">Username</label>
		<input class="center" type="text" name="username" autocomplete="off" required>

		<label for="password">Password</label>
		<input class="center" type="password" name="password" autocomplete="off" required>

		<button type="submit">LOGIN</button>
	</form>

	<div class="invisible">I</div>
	<div class="invisible">L</div>
	<div class="invisible">Y</div>
</div>