<div class="flex col justify max-size container">
	<h1 class="center">{{title}}</h1>


	<form class="flex col center container" action="/login" method="post">
		{{#if message.text}}
		<div class="center {{message.type}} message">{{message.text}}</div>
		{{/if}}

		<label for="user_name">Username</label>
		<input class="center" type="text" name="username" id="user_name" autocomplete="off" required>
		<label for="user_pass">Password</label>
		<input class="center" type="password" name="password" id="user_pass" autocomplete="off" required>

		<button class="center" type="submit">LOGIN</button>

		{{!-- <div>
			<span>Don't have an account? <a href="/signup">Create Account</a></span>
		</div> --}}
	</form>

	<div class="invisible">I</div>
	<div class="invisible">L</div>
	<div class="invisible">Y</div>
	<div class="invisible"><3</div>
</div>