<div class="flex col justify max-size container">
	<h1 class="center">{{title}}</h1>


	<form class="flex col center container" action="/signup" method="post">
		{{#if message.text}}
		<div class="center {{message.type}} message">{{message.text}}</div>
		{{/if}}

		<label for="user_name">Select type of user</label>
		<select class="flex even center-text" type="text" name="role" id="role" autocomplete="off" required>
			<option value="admin">Admin</option>
			<option value="waiter">Waiter</option>
		</select>
		<label for="user_name">First name</label>
		<input class="center" type="text" name="first_name" id="first_name" autocomplete="off" required>
		<label for="user_name">Last name</label>
		<input class="center" type="text" name="last_name" id="last_name" autocomplete="off" required>
		<label for="user_name">Create a username</label>
		<input class="center" type="text" name="username" id="username" autocomplete="off" required>
		<label for="user_pass">New password</label>
		<input class="center" type="password" name="password" id="password" autocomplete="off" required>
		<label for="user_pass">Confirm new password</label>
		<input class="center" type="password" name="confirm_password" id="confirm_password" autocomplete="off" required>

		<button class="center" type="submit">CREATE</button>

		<div>
			<span>Already have an account? <a href="/login">Sign In</a></span>
		</div>
	</form>

	<div class="invisible">I</div>
	<div class="invisible">L</div>
	<div class="invisible">Y</div>
</div>