<div class="flex col gap align view container">
	<div class="flex col gap justify container waiters">
		{{#each waiters}}
		{{!-- TODO: create 'waiter/:user_id' post and get routes --}}
		<button class="center container waiter" type="submit"
			formaction="/admin/waiter/{{user_id}}" title="Click to remove">{{full_name}}</button>
		{{/each}}
	</div>
</div>