@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
	--primary-bg: #fff;
	--primary-fg: #000;
	--secondary-bg: #fffa;
	--secondary-fg: #000a;

	--accent-1: #bed2e4ff;
	--accent-2: #c2dcf0ff;
	--accent-3: #d7e4f0ff;
	--accent-4: #e4f9feff;

	--error-bg: #e88a;
	--error-fg: #c00;
	--warning-bg: #fc8a;
	--warning-fg: #c80;
	--success-bg: #8c8a;
	--success-fg: #0c0;

	--plate-border: 0.0625em;
	--message-border: 0.125em;

	font-size: 20px;
	font-family: 'Poppins', 'Segoe UI', sans-serif;
}

* {
	outline: none;
	border: none;

	padding: 0;
	margin: 0;
	box-sizing: border-box;

	text-decoration: none;
	list-style: none;
}

/********** Main **********/

html {
	height: 100vh;
	width: 100vw;
}

body {
	background-image: url('/assets/images/restaurant.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;

	height: 100%;
	width: 100%;
}

nav {
	height: 2rem;
	width: 100%;
}

nav a {
	background: var(--secondary-bg);
	color: var(--secondary-fg);
}

nav a:hover {
	background: var(--secondary-fg);
	color: var(--secondary-bg);
}

nav a:active {
	background: var(--primary-fg);
	color: var(--primary-bg);
}

button,
input,
select {
	outline: 1px solid var(--secondary-fg);
	text-align: center;
}

button {
	background: var(--secondary-bg);
	padding: 0.25rem 0.5rem;
}

button:hover {
	filter: brightness(0.75);
}

button:active {
	filter: brightness(0.5);
}

select {
	text-align-last: auto;
}

.view {
	width: 100%;
	height: calc(100% - 2rem);
}

.container {
	padding: 0.5rem;
}

.wrapper {
	position: relative;
}

.flex {
	display: flex;
}

.flex.col {
	flex-direction: column;
}

.flex.row {
	flex-direction: row;
}

.flex.gap {
	gap: 0.5rem;
}

.flex.wrap {
	flex-wrap: wrap;
}

.flex.justify {
	justify-content: center;
}

.flex.between {
	justify-content: space-between;
}

.flex.even {
	justify-content: space-evenly;
}

.flex.stretch {
	flex: 1;
}

.flex.align {
	align-items: center;
}

.center {
	text-align: center;
}

.middle {
	margin-inline: auto;
}

/********** DASHBOARD **********/

.day {
	background: #fff4;
	border: 1px solid var(--secondary-fg);
	/* border-radius: 0.5rem; */

	width: 12%;
	min-width: 10rem;
}

.day.booked {
	background: var(--success-bg);
}

.day.overbooked {
	background: var(--warning-bg);
}

.day.underbooked {
	background: var(--error-bg);
}

/********** MESSAGES **********/

.message {
	border-radius: 0.5em;
	border: var(--message-border) solid black;

	width: fit-content;
	max-width: 100%;
	padding: 0.5em 1em;
}

.message.error {
	background: var(--error-bg);
	color: var(--error-fg);
	border: var(--message-border) solid var(--error-fg);
}

.message.warning {
	background: var(--warning-bg);
	color: var(--warning-fg);
	border: var(--message-border) solid var(--warning-fg);
}

.message.success {
	background: var(--success-bg);
	color: var(--success-fg);
	border: var(--message-border) solid var(--success-fg);
}

/********** Transitions / Animations **********/

.fade-in {
	animation: fade-in 1s;
}

.fade-out {
	animation: fade-out 1s;
}

@keyframes fade-out {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

/********** FUNCTIONALITY **********/

.invisible {
	opacity: 0;
}

.hidden {
	display: none;
}